html, body {
    margin: 0;
}

body {
    text-align: center;
    height: auto;
}
button {
    background-color: #ff4500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #ffbc61;
}

.bg {
    background-image: url("./../css/fon1.jpg");
    height: auto;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gall {
    padding: 10px;
    position: relative;
    max-width: 720px;
    max-height: 720px;
    border-radius: 1px;
    background-color: #ff4500;
}

.info {
    position: revert;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #ff4500;
    padding: 10px;
    color: #FFFFFF;
    font-size: 30px;
}

@media screen and (max-device-width:600px) {
    .gall{ display:flex;
        flex-direction: column;
    position: static;
        max-height: none;
    margin-left: 12%;}
    .info {
        font-size: 40px;
    }
    button {
        font-size: 35px
    }
}