html, body, canvas {
    margin: 0;
}

html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}

button {
    background-color: #ff4500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #ffbc61;
}

.bg {
    background-image: url("./../css/fon.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.otziv {
    position: revert;
    color: white;
    width: 50%;
    background-color: #ff4500;
    border-radius: 5px;
    padding: 16px;
    margin-top: 16px;
    margin-left: 25%;
}

.otziv p {
    margin-left: 100px;
}

.otziv span {
    font-size: 18px;
}

.otziv img {
    max-width: 10%;
    max-height: 10%;
    position: absolute;
    margin: auto;
    float: none;
    display: block;
}

.verh {
    color: white;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #ff4500;
    padding: 10px;
    font-size: 30px;
}

@media screen and (max-device-width: 600px) {
    .otziv span {
        font-size: 30px;
    }

    .otziv {
        font-size: 35px;
        margin-left: 15%;
        width: 70%;
    }

    .otziv img {
        height: 90px;
        width: 90px;
    }

    button {
        font-size: 35px
    }
}

