html, body, h2, h5, canvas {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: revert;
    text-align: center;
    height: 100%;
}

#gall {
    position: relative;
    padding-top: 50%;
    -moz-user-select: none;
    user-select: none;
}
#gall img {
    position: absolute;
    top: 30%;
    left: 12.5%;
    max-width: 24.5%;
    max-height: 49.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#gall img:nth-child(4n-2) {left: 30%;}
#gall img:nth-child(4n-1) {left: 52%;}

.info {
    position: absolute;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #ff4500;
    padding: 10px;
    color: #FFFFFF;
    font-size: 30px;
}
.levo{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
display: inline-block;
background-color: #ff4500;
padding: 10px;
color: white;
font-size: 30px;}

.bg {
    background-image: url("./../css/fon1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

