html, body, canvas {
    margin: 0;
    padding: 0;
    border: 0;
}

.bg {
    background-image: url("./../css/fon.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.otziv {
    color: white;
    float: top;
    width: 50%;
    background-color: #ff4500;
    border-radius: 5px;
    padding: 16px;
    margin: 16px auto;
}

.otziv p {
    margin-left: 100px;
}

.otziv img {
    position: absolute;
    max-height: 10%;
    max-width: 10%;
}

.verh {
    color: white;
    transform: translate(-50%, 0px);
    left: 50%;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #ff4500;
    padding: 10px;
    font-size: 30px;
}

.otziv span {
    font-size: 18px;
    margin-right: 25px;
}

@media screen and (max-device-width: 600px) {
    .otziv span {font-size: 40px;}

}